# Config Base
HTTP_PORT=3000

# Config Data Base
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=avaliapro
DATABASE_SYNC=true
DATABASE_LOGGING=true
MONGODB_URI=mongodb://root:password@mongo:27017/avaliapro?authSource=admin

# Config Auth

JWT_SECRET=change-me
JWT_EXPIRATION=43200

# Config external API

API_IMOVEIS_LIST=https://www.coligadas.com.br/api/imoveis?operacao=vendas&uf=rs,pr&ordem=1&limite=40&idimob=1&rede=1
API_IMOVEL_DETAIL=https://www.coligadas.com.br/api/imovel
API_COLIGADAS_TIMEOUT_MS=10000
API_COLIGADAS_CONCURRENCY=6
